*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navBg: #73741c;
}

.nav{
    text-align: center;
    padding: 0.8rem;
    margin: 0.5rem 0;
    color: #fff;
    background-color: var(--navBg);
}

.task{
    display: flex;
    justify-content: center;
}

input{
    width: 18rem;
    height: 3em;
    border-radius: 8px;
    padding: 0.5rem;
}

input:hover{
    outline: none;
    border: 2px solid var(--navBg);
    border-radius: 8px;
    padding: 0.5rem;
}

#addNew{
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 12px;
    width: 3em;
    border: none;
}

#addNew:hover{
   color: #fff;
   background-color: var(--navBg);
}

.added{
    text-align: center;
}

.added > button{
    text-align: right;
}

#newAdd{
    padding: 0.5rem;
    margin: 2px 0;
    color: var(--navBg);
    background-color: #efefef;
}

.del{
    margin: 0.2em;
    padding: 0.4em;
    border-radius: 12px;
    background-color: #f00;
    color: #fff;
    border: 1px solid var(--navBg);
    font-weight: bold;
}

.del:hover{
   color: #fff;
   background-color: var(--navBg);
}

.delAll{
    visibility: hidden;
}