* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #883e3e;
  color: #fff;
  font-weight: 200;
  text-align: center;
}
.converter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
}
.temp-values {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.temp-input,
.result {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 0.8rem;
  margin-top: 5px;
  font-size: 0.7rem;
}
.convert-btn {
  width: fit-content;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #033447;
  color: white;
}
.footer {
  margin: 1rem;
  font-size: 0.9rem;
  color: #f0f0f0;
}
@media (max-width: 600px) {
  .guess-input {
    width: 80px;
  }
  .message {
    font-size: 1rem;
  }
}
