* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #fff;
  color: #000;
  font-family: "Verdana", cursive;
}
/* Dark Mode Class */
.container.dark-mode {
  background-color: #000;
  color: #fff;
}
.toggle {
  padding: 0.5rem;
  margin: 0.4rem;
}
