*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    padding: 1rem 0;
    background-color: #e05f20;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    height: 75vh;
}

#image{
    background-image: url(test.jpeg);
    background-size: cover;
    height: 100%;
    border-radius: 12px;
}

#image-box{
    width: 200px;
    height: 200px;
    border: 2px solid#e05f20;
    border-radius: 12px;
}

#image-box.hovered{
    width: 200px;
    height: 200px;
    border: 2px dashed#000;
    border-radius: 12px;
}